body {
    margin: auto;
    padding-top: 200px;

}

section {

 margin: auto;
  width: 50%;
  padding: 10px;
  border-radius: 25px;
  background: #04AA6D;
  padding: 20px;
  width: 600px;
  height: 250px;

}

.center {
    
    text-align: center;
}

h1 {
    color: white;
    font-family: 'Lucida Sans';
}

.title {
    color: white;
    font-family: 'Lucida Sans';
    font-size: 25px;
    font-weight: bolder;
}

p{
    color: white;
    font-family: 'Lucida Sans';

}

label {

    color: white;
    font-family: 'Lucida Sans';
}

button{
    border-radius: 25px;
    background: white;
    color: #04AA6D;
    height: 50px;
    width: 150px;
    font-family: 'Lucida Sans';
    font-weight: 1000;
}

.section{
    display: flex;
    flex-direction: column;
    background: #04AA6D;
    width: 400px;
    height: 300px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
  }

  main{
    display: flex;
    width: 100vw;
    height: 300px;
    justify-content: center;
    align-items: center;
  
  } 

  .result{

    background: white;
    color: #04AA6D;
    font-family: 'Lucida Sans';
    font-size: 15px;

  }
